@import 'util_sc.scss';

span.select2-selection__rendered, li.select2-results__option{
  text-transform: capitalize;
}
table.kv-grid-table td {
  text-transform: capitalize;
}
table.detail-view td{
  text-transform: capitalize;
}
.select2-selection__clear{
    padding-right: 3px;
    padding-top: 2px;
}
/** tabulator */
.tabulator{ text-transform: capitalize}
div.tabulator-col-title{
  text-transform: capitalize;
}
.tabulator .tabulator-header{
  padding: 0;
}
.no_text_overflow, .tabulator-row .tabulator-cell.no_text_overflow{
  text-overflow: clip;
}
/** tabulator END */

.all_cap{
  text-transform: uppercase;
}
/** kv detail view */
.kv-child-table-row th{
  border-color: transparent;
}
span.select2-selection__clear{
  padding-top: 3px;
}
/** kv detail view END */

/** yii */
div.form-group{margin-top: 0.5rem}
select.all_cap + span{
  text-transform: capitalize;
}
/** yii end */


:root{
  --bs-table-striped-color: #9da9bb;
}

.table{
  --bs-table-striped-color: #9da9bb;
}
.form-control{
  padding-right: 0.11rem;
  padding-left: 0.11rem;
}
input.form-control{text-overflow: ellipsis}
table input.form-control:focus{width: initial}
.form-check.use_default{
  display: inline-block;
}
[sc_class="w4"]{
  width: 4% !important;
}
[sc_class="w8"]{
  width: 8% !important;
}
[sc_class="w11"], .w11{
  width: 11% !important;
}
[sc_class="w18"]{
  width: 18% !important;
}
[sc_class="w24"]{
  width: 24% !important;
}
.w0{width: 0 !important; }
td>input[sc_class="w8"]{
  width: initial;max-width: 8%;
}
td>input[sc_class="w11"]{
  width: initial !important;max-width: 11%;
}
.select2-container--krajee-bs5 .select2-selection--single{
  background-position: right 0.55rem center;
}
.card-header{padding: 0.2rem 0.5rem;}
form[action="/site/logout"]{margin-top: -3px;}
