a.navbar-brand > img {
  width: 1.5rem;
  height: auto;
}
:root {
  --bs-navbar-padding-y: 1px;
}
.navbar{
    --bs-navbar-padding-y: 1px;
}
span.lkup{padding: 0;cursor: pointer}
#lkup_modal{z-index: 1056}
input[name*="uom"]{
  text-transform: uppercase;
}
/** socal falcon extend **/
@media (min-width: 992px) {
.modal-xl {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 95%;
  }
}
/** socal falcon extend END **/
