table.detail-view th {
  width: 20%; }

table.detail-view td {
  width: auto; }

.dark, .dark .table-info {
  --falcon-table-info-striped-bg: #0a0a0a;
  --falcon-table-striped-bg: #0a0a0a; }

.dark .table {
  --falcon-table-striped-bg: #222222;
  --falcon-table-striped-color: #ffffff;
  --bs-table-color-state:--falcon-blue;
  --falcon-table-hover-color: $lightblue;
  --bs-table-hover-color: $lightblue; }

.dark .detail-view {
  --falcon-table-info-striped-bg: #0a0a0a;
  --falcon-table-striped-bg: #bcbcbc; }

table.kv-grid-table th {
  font-size: 88%; }

.column_center {
  width: 100%;
  text-align: center; }

form.responsive div.form-group {
  width: 45%; }

/*table.kv-grid-table input.form-control{
  width: initial;
}*/
.name {
  text-transform: capitalize; }

.navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem; }

.menus h5 {
  text-align: left; }

.menus a {
  text-align: left;
  width: 100%;
  display: inline-block; }

form[method="post"] button[type="submit"] {
  margin-top: 8px; }

table.table {
  margin-top: 3px; }

:root {
  --bs-gutter-x:2.5rem;
  --bs-gutter-y: 1rem; }

.row {
  margin-bottom: 3px; }

/*# sourceMappingURL=custom.css.map */